@if (!loading()) {
  <ng-template #buttons>
    <div class="flex items-center justify-end gap-2">
      <p-button label="Edit" icon="pi pi-pencil" (onClick)="openEditCategoryDialog()" />
      <p-button label="Lock" icon="pi pi-lock" severity="danger" (onClick)="onLockBudgetCategory()" />
    </div>
  </ng-template>
  <div class="flex flex-col gap-4">
    <page-header [title]="category().name" [end]="buttons" backLink="/budget"/>
    <p-card>
      <h3>Transaction Items for {{category().name}} Category</h3>
    </p-card>
    @if (itemsToAmount().size) {
      <div class="flex gap-4">
        <p-card class="w-1/2">
          <ng-template #item let-entry >
            <div class="flex justify-between items-center">
              <span>{{entry[0]}}</span>
              <span>{{entry[1] | currency: 'USD' : 'symbol' : '1.2-2' }}</span>
            </div>
            <p-divider />
          </ng-template>
          @for (entry of itemsToAmount().entries(); track $index) {
            <ng-container *ngTemplateOutlet="item; context: { $implicit: entry }" />
          }
          <div class="flex justify-between items-center">
            <span>Total</span>
            <span>{{itemsTotal() | currency: 'USD' : 'symbol' : '1.2-2'}}</span>
          </div>
        </p-card>
        <p-card class="w-1/2">
          <apx-chart
            [series]="chartOptions().series"
            [chart]="chartOptions().chart"
            [labels]="chartOptions().labels"
          ></apx-chart>
        </p-card>
      </div>
    } @else {
      <p-card>
        <p>No transaction item data to display for this budget category.</p>
      </p-card>
    }
  </div>
}

<confirm-dialog
  [visible]="showConfirmLockDialog"
  text="Are you sure you want to lock this budget category."
  subText="Locked budget categories will no longer show up in future reports."
  confirmLabel="Lock"
  confirmSeverity="danger"
  (confirm)="onConfirmLockBudgetCategory($event)"
/>

<p-dialog [(visible)]="showEditDialog" (onHide)="cancelCategoryEdit()">
  <category-form
    [category]="category()"
    (submit)="editBudgetCategory($event)"
  />
</p-dialog>
