<p-card>
  <div class="flex justify-between items-center">
    <div class="flex justify-start items-center gap-3">
      @if (backLink) {
        <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" [routerLink]="backLink"  />
      }

      <h1>{{title}}</h1>
    </div>

    @if (middle) {
      <ng-container
        *ngTemplateOutlet="middle">
      </ng-container>
    }

    @if (end) {
      <ng-container
        *ngTemplateOutlet="end">
      </ng-container>
    }
  </div>
</p-card>
