@if (!budgetStore.loading() && !transactionStore.loading() && !!categoryToAmount) {
  <div class="flex gap-4">
    <p-card class="w-1/2">
      <ng-template #categoryProgress let-category>
        <div class="flex items-center">
          <p class="font-bold w-1/6">{{category.name}}</p>
          <div class="w-5/6">
            <div class="flex gap-4 mb-4">
              <p class="w-1/3">Spent:
                {{categoryToAmount().get(category.budgetCategoryId)?.value | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
              <p class="w-1/3">Budget: {{category.budget | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
              <p class="w-1/3">Remaining: {{category.budget - categoryToAmount().get(category.budgetCategoryId)?.value
                    | currency: 'USD' : 'symbol' : '1.2-2' }}</p>
            </div>
            <p-meter-group
              class="mb-4"
              [value]="[categoryToAmount().get(category.budgetCategoryId)]"
              [max]="category.budget" />
          </div>
        </div>
        <p-divider />

      </ng-template>

      @for (category of budgetStore.categories(); track category.budgetCategoryId) {
        <ng-container
          *ngTemplateOutlet="categoryProgress; context: { $implicit: category }">
        </ng-container>
      }

      <p-button label="Create Category" styleClass="m-4" (onClick)="openCategoryDialog()" />
    </p-card>
    <p-card class="w-1/2">
      <apx-chart
        [series]="chartOptions().series"
        [chart]="chartOptions().chart"
        [labels]="chartOptions().labels"
      ></apx-chart>
    </p-card>
  </div>

  <p-dialog
    [visible]="categoryDialogVisible"
    (onHide)="onCategoryDialogClose()"
    [header]="budgetCategory.budgetCategoryId ? 'Update Budget Category' : 'Create Budget Category'"
  >
    <category-form [category]="budgetCategory" (submit)="submitCategoryForm($event)" />
  </p-dialog>

}
