<div class="flex gap-4">
  <div class="flex flex-col gap-5 w-2/3">
    <ng-template #headerEnd>
      <div>
        <p-button label="Transfer Money" [outlined]="true" class="pr-4" routerLink="/account-transfer" />
        <p-button label="Create Account" (onClick)="openForm()" />
      </div>
    </ng-template>
    <page-header title="Accounts" [end]="headerEnd" />

    <div class="flex flex-col gap-10">
      @if (accountStore.checking()?.length) {
        <account-table
          [accounts]="accountStore.checking()"
          title="Checking Accounts"
          (editAccount)="setSelectedAccount($event)"
          (deleteAccount)="deleteAccount($event)"
        />
      }

      @if (accountStore.saving()?.length) {
        <account-table
          [accounts]="accountStore.saving()"
          title="Saving Accounts"
          (editAccount)="setSelectedAccount($event)"
          (deleteAccount)="deleteAccount($event)"
        />
      }

      @if (accountStore.credit()?.length) {
        <account-table
          [accounts]="accountStore.credit()"
          title="Credit Accounts"
          (editAccount)="setSelectedAccount($event)"
          (deleteAccount)="deleteAccount($event)"
        />
      }

      @if (accountStore.loan()?.length) {
        <account-table
          [accounts]="accountStore.loan()"
          title="Loan Accounts"
          (editAccount)="setSelectedAccount($event)"
          (deleteAccount)="deleteAccount($event)"
        />
      }
    </div>
  </div>

  <div class="w-1/3">
    <accounts-overview />
  </div>
</div>

<p-dialog
  [header]="selectedAccount?.accountId ? selectedAccount.name : 'Create Account'"
  [modal]="true"
  [(visible)]="showForm"
  (onHide)="closeForm()"
  [style]="{ width: '25rem', height: '30rem' }">
  <account-form [account]="selectedAccount" (submit)="submitForm($event)"/>
</p-dialog>

<confirm-dialog
  [visible]="showConfirmDialog"
  text="Are you sure you want to delete this account? All transactions associated with this account will be deleted."
  confirmLabel="Delete"
  confirmSeverity="danger"
  (confirm)="onConfirmDelete($event)"
/>
