<header>
  <p-menubar [model]="menuItems()" class="m-5" >
    @if (userStore.authenticated()) {
      <ng-template #end>
        <div class="flex gap-4 justify-center items-center">
          <p-avatar shape="circle" />
          <p-button
            [icon]="darkMode ? 'pi pi-sun' : 'pi pi-moon'"
            [rounded]="true"
            (onClick)="toggleMode()"
            severity="secondary"
          />
          <p-button
            label="Logout"
            icon="pi pi-sign-out"
            variant="text"
            routerLink="/login"
            (onClick)="logout()"
            severity="danger"
          />
        </div>
      </ng-template>
    }
  </p-menubar>
</header>
