@if (!accountStore.loading()) {
  <ng-template #radioList let-list >
    @for (item of list; track radioButtonId + '-' +item.accountId) {
      <li class="mb-3">
        <p-radio-button
          [inputId]="radioButtonId + '-' + item.accountId"
          name="account"
          [value]="item.accountId"
          [ngModel]="selectedAccount"
          (ngModelChange)="accountSelect.emit(item)"
        />
        <label [for]="radioButtonId + '-' + item.accountId" class="ml-2">{{item.name}}</label>
      </li>
    }
  </ng-template>

  @for (list of accounts(); track $index) {
    <ul class="flex flex-col justify-center items-start gap-2">
      <ng-container>
        <ng-container
          *ngTemplateOutlet="radioList; context: { $implicit: list }">
        </ng-container>
      </ng-container>
    </ul>
  }
}
