@if (!accountStore.loading()) {
  <div class="flex flex-col gap-4">
    <page-header title="Create Transaction" backLink="/transactions" />

    <p-card>
      <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">

          <p-step-list>
            <p-step [value]="1">Select Account</p-step>
            <p-step [value]="2">Add Transaction Details</p-step>
            <p-step [value]="3">Add Transaction Items</p-step>
          </p-step-list>

          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex gap-10 justify-center items-start">
                  @if (accountStore.checking()) {
                    <div class="flex flex-col justify-center items-start gap-4">
                      <ul>
                        <ng-container>
                          <ng-container
                            *ngTemplateOutlet="radioList; context: { list : accountStore.checking() }">
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  }
                  @if (accountStore.saving()) {
                    <div class="flex flex-col justify-center items-start gap-4">
                      <ul>
                        <ng-container>
                          <ng-container
                            *ngTemplateOutlet="radioList; context: { list : accountStore.saving() }">
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  }
                  @if (accountStore.credit()) {
                    <div class="flex flex-col justify-center items-start gap-4">

                      <ul>
                        <ng-container>
                          <ng-container
                            *ngTemplateOutlet="radioList; context: { list : accountStore.credit() }">
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  }
                </div>
                <div class="flex pt-6 justify-end">
                  <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">

                <div class="flex pt-6 justify-between mb-4">
                  <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                  <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" [disabled]="!selectedAccount" />
                </div>
                @if (!selectedAccount) {
                  <p-message severity="warn">Select an Account</p-message>
                }
              </ng-template>
            </p-step-panel>
            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">

                <div class="flex pt-6 justify-start">
                  <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </p-card>
  </div>
}

<ng-template #radioList let-list="list" >
  @for (item of list; track item.id) {
    <li class="mb-3">
      <p-radio-button [inputId]="item.accountId" name="account" [value]="item.accountId" [(ngModel)]="selectedAccount" />
      <label [for]="item.accountId" class="ml-2">{{item.name}}</label>
    </li>
  }
</ng-template>
