<p-table
  [value]="tableData()"
  dataKey="transactionItemId"
  editMode="row"
  [tableStyle]="{ 'min-width': '50rem' }" >
  <ng-template #header>
    <tr>
      <th style="width:35%">Item Name</th>
      <th style="width:35%">Price</th>
      <th style="width:20%"></th>
    </tr>
  </ng-template>
  <ng-template #body let-transactionItem let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="transactionItem">
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="transactionItem.category" />
          </ng-template>
          <ng-template #output>
            {{ transactionItem.category }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-input-number
              [(ngModel)]="transactionItem.amount"
              inputId="account-balance"
              mode="decimal"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
            />
          </ng-template>
          <ng-template #output>
            {{ transactionItem.amount | currency: 'USD' : 'symbol' : '1.2-2'  }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex items-center justify-center gap-2">
          @if (!editing) {
            <button pButton pRipple type="button" pInitEditableRow text rounded severity="secondary"
                    [icon]="transactionItem.transactionItemId ? 'pi pi-pencil' : 'pi pi-plus'" >
            </button>
          }
          @if (!editing && transactionItem.transactionItemId) {
            <button pButton pRipple type="button" text rounded severity="danger"
                    icon="pi pi-trash"
                    (click)="onRowDelete(transactionItem)">
            </button>
          }

          @if (editing) {
            <button  pButton pRipple type="button" pSaveEditableRow text rounded severity="secondary"
                    icon="pi pi-save"
                    (click)="onRowEditSave(transactionItem)"
                    [disabled]="!transactionItem.category || !transactionItem.amount" >
            </button>
          }
          @if (editing) {
            <button pButton pRipple type="button" pCancelEditableRow text rounded severity="secondary"
                    icon="pi pi-times" ></button>
          }
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
